//banner header
.banner {
    display: block;
    background: #E9F0FC;
    height: 56px;
    overflow: hidden;
    position: relative;
    img {
      margin: 0 auto;
      display: block;
    }
   
    &::after {
      content: '';
      display: block;
      width: 115px;
      height: 21px;
      background: url(../img/top-banner-adv.png) no-repeat center/contain;
      position: absolute;
      right: 0;
      bottom: 0;
    }

}